body{
	background-image:url('images/bgimg/sen.jpg');
	background-position: center;
	
}
h2{
	font-family:Forte;
	font-size:50px;
	color: White;
}
#p{
	font-size:20p;
	color: yellow;
}
.eps{
	border-bottom:4px solid Lime;
}
.eps a{
	color: white;
	font-size:30px;
	border:2px solid red;
	background-color:black;
}
.eps a:hover{
	background-color:grey;
}
img{
height: 250px;
width: 150px;
}
#he1{
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he2 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he3 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he4 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he5 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he6 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he7 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he8 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he9 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}
#he10 {
	border-bottom: 5px solid Royalblue;
	font-family:Sylfaen;
	font-size:20px;
	color:white;
	margin-bottom: 12px;
}